* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(246, 245, 248);
    font-family: 'Montserrat', sans-serif;
    }

h1, .nav-item, .btn {
    font-family: 'Architects Daughter', cursive; 
    color: #161A1D;
    }

h2, h3 {
    color: #1d89be;
    }

h4 {
    color: #D3D3D3;
    }

main {
    background-color:#f5f3f4 ;   
    } 

.photo_credits, .index_valeurs{
  position:relative;
    }

.credits{
    background-color:#b1a7a6;
    color: #f5f3f4;
    font-size: 0.6rem;
    border-radius: 0.3rem;
    position: absolute;
    bottom: 0;
    right: 7%;
    margin-bottom: 0.5rem;
    }


/* CSS du header et footer*/

header, footer {
    background-color:#d62839 ;
    }

.header_citation{
    font-family: 'Architects Daughter', cursive;
    color: #D3D3D3;
}

.logo{
    max-width:  80%;
    border-radius: 50%;
    padding: 0.5em;
    }

.socials{
    font-size: 1.8rem;
}
.socials, .link, .credit_link, .email{
    text-decoration: none;
    color: #f5f3f4 ;
    }

.socials:hover{
    color:#161A1D;
    }

/* Css barre de navigation */

.navbar-expand-md{
    flex-wrap: wrap;
    justify-content: flex-start;
    }

.navbar, .navbar-toggler {
    background-color:#161A1D;
    }

#menuhamburger .active {
    background-color:#f5f3f4;
    color: #161A1D;
    }
    
.nav-item {
    font-size: 1.5rem;
    padding:0.3rem ;
    }

/* CSS de l'index */
 
.index_valeurs{
    background-color:#b1a7a6 ;
    }

.index_carousel_photo {
    height: 40vh;
    width: auto;
    }

/* css page asso */

.association_team{
    background-color:#D3D3D3;
    }


/* css du formulaire */

.contact-form{
    background-color: #161A1D;
    color: #D3D3D3;
    margin-top:20px;
    padding: 20px;
    box-shadow: 0px 0px 10px 3px #161A1D;
    }

hr{
    background: #D3D3D3;
    }

.btn-custom{
    background-color: #D3D3D3;
    }

.btn-dark{
    background-color: #1d89be;
    color: #f5f3f4;  
    }

/* CSS evenement */

.index_carousel_event, .event_card_body{
    background-image: url(./Images/fontevent.jpg);
    background-size: cover;
    color: #D3D3D3;
    }

.index_carousel_event_block{
    background-color: rgb(245, 243, 244, 0.30);
    }

.text-end{
    color: #d62839;
    }


@media screen and (min-width: 768px) {
    .event_card_body{
        width: 75%;
    }
    .event_card_photo{
        width: 25%;
    }
}