* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(246, 245, 248);
    font-family: 'Montserrat', sans-serif;
    
}

h1, .nav-item, .btn, #header-citation{
    font-family: 'Architects Daughter', cursive; 
    color: #161A1D;
}
h2, h3 {
    color: #1d89be;
}
h4 , #header-citation{
    color: #D3D3D3;
}
.photos, .valeurs{
  position:relative;
 
}
.credits{
    background-color:#b1a7a6;
    color: #f5f3f4;
    font-size: 0.6rem;
    border-radius: 0.3rem;
    position: absolute;
    bottom: 0;
    right: 7%;
    margin-bottom: 0.5rem;
    }

a{
    text-decoration:none;
    font-weight: bold;
    color: #f5f3f4;

}

/* CSS du header */

header, footer {
    background-color:#d62839 ;
    } 

#logo{
    max-width:  80%;
    border-radius: 50%;
    padding: 0.5em;
    }

/* Css barre de navigation */

.navbar-expand-md{
    flex-wrap: wrap;
    justify-content: flex-start;
}

.navbar {
    background-color:#161A1D ;
  
}   

.navbar-toggler {
    background-color:#161A1D;
     }
     

#menuhamburger .active {
    background-color:#f5f3f4;
    color: #161A1D;
    font-weight: bold;
   
}
.nav-item {
font-size: 1.5rem;
padding:0.3rem ;
}


/* CSS du main */

  main {
    background-color:#f5f3f4 ; 
   
} 
.valeurs{
    background-color:#b1a7a6 ;
}


.socials {
    text-decoration: none;
    color: #D3D3D3;
    font-size: 1.8rem;
    
}
.socials:hover{
    color:#161A1D;
}
/* CSS Carrousel */

.photocarroussel {
    height: 40vh;
    width: auto;
}

/* css page asso */

.membres{
    background-color:#D3D3D3;
}


/* css du formulaire */

.contact-form{
    background-color: #161A1D;
    color: #D3D3D3;
    margin-top:20px;
    padding: 20px;
    box-shadow: 0px 0px 10px 3px #161A1D;
}
hr{
    background: #D3D3D3;
}
.btn-custom{
    background-color: #D3D3D3;
    }
.btn-dark{
    background-color: #1d89be;
    color: #f5f3f4;
    
}

/* CSS  page evenement */
.background-evenement, .card-body-event{
    background-image: url(images/fontevent.jpg);
    background-size: cover;
    color: #D3D3D3;
}
.presentation-evenement{
    background-color: rgb(245, 243, 244, 0.30);

}
.text-end{
    color: #d62839;
}


@media screen and (min-width: 768px) {
    .card-body-event{
        width: 75%;
    }
    .photos-event{
        width: 25%;
    }
}